[submodule "pathogenBundles/ctrlp.vim"]
	path = bundles/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule "pathogenBundles/vim-airline"]
	path = bundles/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "pathogenBundles/vim-airline-themes"]
	path = bundles/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes.git
[submodule "pathogenBundles/yajs.vim"]
	path = bundles/yajs.vim
	url = https://github.com/othree/yajs.vim.git
[submodule "pathogenBundles/yats.vim"]
	path = bundles/yats.vim
	url = https://github.com/HerringtonDarkholme/yats.vim.git
[submodule "pathogenBundles/vim-autoformat"]
	path = bundles/vim-autoformat
	url = https://github.com/Chiel92/vim-autoformat.git
[submodule "pathogenBundles/oceanic-next"]
	path = bundles/oceanic-next
	url = https://github.com/mhartington/oceanic-next.git
[submodule "pathogenBundles/vim-gitgutter"]
	path = bundles/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
